<%= render "shared/errors", obj: @article %>

<div class="container col-xl-10 col-xxl-8 px-4 py-1">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Submit a new article</h1>
      <p class="col-lg-10 fs-5">Feel free to submit a new article about anything you please. It will show up on top of the blog page.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-6">
      <%= render "form" %>
    </div>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <%= link_to "Cancel and return to articles list", articles_path, class: "fs-6 back-link" %>
  </div>
</div>