<div class="container col-xl-10 col-xxl-8 px-4 d-flex flex-direction-column justify-content-center">
  <% if @article.errors.any? %>
    <div class="col-10 alert alert-danger alert-dismissible fade show" role="alert">
      <h6 class="alert-heading fw-bold">The following errors prevented the article from being saved:</h6>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
