<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "blog.svg", class: "d-block mx-lg-auto img-fluid", alt: "Blog Hero Image", loading: "lazy" %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">This is a simple blog featuring a few articles from TechCrunch</h1>
      <p class="lead">Built with Ruby on Rails 7, with Bootstrap helping out in the front end and some illustrations from undraw.co.</p>
    </div>
  </div>
</div>
