@import "bootstrap";

body {
  background-color: #e7eaee;
  font-family: 'Souvenir', sans-serif;                                               
}

/* ----------- NAVBAR ------------ */
.navbar {
  font-family: 'Futura Std', sans-serif;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.8rem;
  background: -webkit-linear-gradient(60deg, #f84787, #f7612f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.under-link {
  color: #CACBD2 !important;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  transition: 0.3s ease;
  text-decoration: none;
  /*border-bottom: 4px solid #3fa46a;*/
  padding-bottom: 20px;
}
.under-link:hover {
  color: #F64D72 !important;
  border-bottom: 2px solid #F64D72;
  padding: 6px 0; 
}
.under-link.active {
  color: #F64D72 !important;
}
@media only screen and (min-width: 769px) {
  .under-link.active {
    border-bottom: 2px solid #F64D72;
    padding: 6px 0; 
  }
}

.signup-link {
  color: #F64D72 !important;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  transition: 0.3s ease;
  text-decoration: none;
  border: 1px solid #F64D72 !important;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px 15px 8px !important;
}
.signup-link:hover {
  color: #fff !important;
  background-color: #F64D72;
  margin-top: 6px !important;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .signup-link {
    color: #fff !important;
    background-color: #F64D72;
  }
}




/* ----------- HOMEPAGE ------------ */


/* ----------- INDEX ------------ */
.display-6 {
  font-size: 1.8rem !important;
}

.timestamp-text {
  color: #98999d;
  font-size: 0.8rem;
  margin-bottom: 12px;
}

.article-index-link {
  text-decoration: none;
  color: #212529;
}
.article-index-link:hover {
  color: #212529;
}

.new-btn {
  padding: 12px 20px;
  border: 1px solid #7b7d80;
  border-radius: 8px;
  color: #212529;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}
.new-btn:hover {
  background-color: #323335;
  color: #edf0f4;
}

/* ----------- FORM ------------ */
.form-label {
  font-weight: 600;
}

.form-field {
  padding: 8px;
  border: 1px solid #828386;
  border-radius: 8px;
}
.form-field:focus {
  outline-color: #F64D72;
}

.form-group {
  margin-bottom: 2rem;
}

.btn-submit {
  border-color: #F64D72;
  color: #F64D72;
  font-weight: 600;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.btn-submit:hover {
  background-color: #F64D72;
  color: #fff;
}

.back-link {
  color: #98999d;
  transition: 0.3s ease;
  text-decoration: underline dashed;
  text-underline-offset: 4px;
}
.back-link:hover {
  color: #212529;
  text-decoration: underline solid;
}


/* ----------- ALERTS ------------ */
.alert-danger {
  background-color: #f0d3d9;
  color: #b70d31
}

.alert-success {
  background-color: #d9f0d3;
  color: #259307;
}

/* ----------- ARTICLE VIEW ------------ */
.article-text {
  text-align: justify;
}

.stretch-span {
  width: 100%;
  display: inline-block;
}

.btns {
  margin-top: 2rem;
}

.edit-btn {
  padding: 10px 16px;
  border: 1px solid #7b7d80;
  border-radius: 8px;
  color: #212529;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  margin-right: 1rem;
}
.edit-btn:hover {
  background-color: #323335;
  color: #edf0f4;
}

.del-btn {
  padding: 8px 12px;
  border: 1px solid #F64D72;
  border-radius: 8px;
  color: #F64D72;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  margin-left: 1rem;
  background-color: #e7eaee;
}
.del-btn:hover{
  background-color: #F64D72;
  color: #edf0f4;
}



/* ----------- FOOTER ------------ */
footer {
  color: #98999d;
  font-family: 'Souvenir', sans-serif;
}

.border-top {
  border-top: 1px solid #CACBD2 !important;
}