<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-10 text-center mx-auto">
      <h1 class="display-4 fw-bold lh-1 mb-3">Categories</h1>
    </div>
  </div>
  <div class="flickr_pagination mb-5 mt-5">
    <%= will_paginate @categories, :container => false %>
  </div>
  <div class="row align-items-center g-lg-5">
    <% @categories.each do |category| %>
      <div class="col-lg-12 text-lg-start">
        <h1 class="display-6 text-center fw-bold lh-1 mb-3"><%= link_to category.name, category, class: "article-index-link" %></h1>
        <p class="text-center"><%= pluralize(category.articles.count, "articles") %></p>
        <% if category != @categories.last %>
          <hr class="users-hr mt-5">
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flickr_pagination mb-5 mt-5">
    <%= will_paginate @categories, :container => false %>
  </div>
</div>